.signal__list {
    height: calc(100% - 88px);
    overflow-y: auto;
    .signal-wrapper {
        margin-bottom: 12px;
        background-color: #1c2928;
        border-radius: 8px;
        padding: 16px;
        .signal__top {
            line-height: 40px;
            font-size: 18px;
            .signal-type {
                color: #08ccbc;
                margin-right: 12px;
            }
            .signal-name {
                color: #ffffff;
                font-weight: bold;
            }
        }

        .signal__footer {
            display: flex;
            justify-content: space-between;
            height: 38px;
            line-height: 38px;
            margin-top: 10px;
            .signal-ip {
                color: #999999;
                font-size: 14px;
            }
        }
    }
}
