.vertical-filmstrip, .stage-filmstrip {
    span:not(.tile-view) .filmstrip.cssw_hacked {
        background-color: #233332;
        flex-direction: column;

        &.hidden {
            .signal__list {
                display: none;
            }
        }

        .cssw_hacked_title_tabs {
            width: 100%;
        }

        &.hide-videos {
            .remote-videos {
                & > div {
                    opacity: 1;
                    pointer-events: initial;
                }
            }
        }

        &.no-vertical-padding {
            padding: 0;
        }

        .filmstrip__videos {
            &#remoteVideos {
                box-sizing: border-box;
                padding-left: 16px;
                padding-right: 16px;
                padding-top: 12px;
                justify-content: flex-start;
                position: relative;
            }

            .information-footer {
                position: absolute;
                left: 0;
                bottom: 88px;
                right: 0;
                padding: 20px 16px;

                input {
                    display: none;
                }

                .information-button {
                    border-radius: 8px;
                    background-color: #2a3d3c;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    font-size: 16px;
                    border: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;

                    .button-icon {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .information-list {
                height: calc(100% - 88px);
                overflow-y: auto;

                .information-item {
                    margin-bottom: 12px;
                    background-color: #1c2928;
                    border-radius: 8px;
                    padding: 16px 16px 16px 64px;
                    position: relative;
                    cursor: pointer;
                    .information-image {
                        position: absolute;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 32px;
                        height: 32px;
                    }
                    .information-name {
                        line-height: 40px;
                        font-size: 18px;
                        font-weight: 600;
                    }
                }
            }

            #remotevideomenu, #localvideomenu {
                .mutelink.cssw_hacked {
                    padding: 5px 8px;
                    min-height: unset;
                    border-radius: 4px;
                    overflow: hidden;
                }
            }
        }

        /**
         * Re-styles the local Video to better fit vertical filmstrip layout.
         */
        #filmstripLocalVideo {
            margin-bottom: 0;
            #filmstripLocalVideoThumbnail {
                width: 100%;

                .videocontainer {
                }
            }
        }

        #filmstripLocalScreenShare {

            #filmstripLocalScreenShareThumbnail {
                width: 100%;
            }
        }

        #remoteVideos {
            .filmstrip__videos {
                &.remote-videos {
                    flex-direction: row;
                }
                .videocontainer {
                    border: none;
                    border-radius: 8px;
                    background-color: #1C2928;
                    margin-bottom: 12px;
                    &.display-avatar-only {
                        .avatar-container {
                            max-width: initial;
                            max-height: initial;
                        }
                    }
                    .cssw_hacked_top_indicators {
                        padding: 8px;
                    }
                    .bottom-indicators {
                        .displayname {
                            font-size: 18px !important;
                        }
                    }
                }
            }
        }

        .remote-videos {
            &.height-transition {
            }

            & > div {
                position: initial;
            }

            &.is-not-overflowing > div {
            }
        }
    }
}
